<html>

<head>
    <title> List Film</title>
    <% include ./share/head.ejs %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/head.css">
</head>

</html>

<body>
    <div class="head-page">
        <div class="name">
            <h1>CINEMA APPLICATION</h1>
        </div>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Comeback</a>
                </li>
                <li>
                    <a href="#">Tạo mới Phim</a>
                </li>
                <li>
                    <a href="#">Đăng Nhập</a>
                </li>
                <li>
                    <a href="#">Đăng Ký</a>
                </li>
            </ul>
        </nav>
    </div>
</body>