<html ng-app="app.todos">

<head>
    <title> List Film</title>
    <% include ./share/head.ejs %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/head.css">
        <script src="/javascripts/main/app.js"></script>
</head>

</html>

<body ng-controller="todoController">

    <div class="head-page">
        <div class="name">
            <h1>CINEMA APPLICATION</h1>
        </div>
    </div>

    <div class="menu">
        <nav>
            <ul>
                <!-- <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Comeback</a>
                </li> -->
                <li>
                    <a href="/cinema">Tạo mới Phim</a>
                    <i class="far fa-arrow-alt-from-bottom"></i>
                </li>
                <li>
                    <a href="#">Đăng Nhập</a>
                </li>
                <li>
                    <a href="#">Đăng Ký</a>
                </li>
            </ul>
        </nav>
    </div>
    <div ng-repeat="todo in todos ">
        <div class="border">
            <div class="text">
                <p> Tên phim: {{todo.NameFilm}}</p>
                <p> Thể loại: {{todo.StyleFilm}}</p>
                <p> {{todo.Month}}</p>
                <p> {{todo.Year}}</p>
            </div>
            <img src={{todo.Comment}}>
        </div>
    </div>
</body>