<html>

<head>
    <% include ./share/head.ejs %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/head.css">
        <script src="/javascripts/"></script>
        <script>
                function ABC()
                {
                    alert("Bạn đã đăng phim thành công :) :)")
                }
            </script>
</head>

<body>
    <div class="head-page">
        <div class="name">
            <h1>CINEMA APPLICATION</h1>
        </div>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">Comeback</a>
                </li>
                <li>
                    <a href="#">Tạo mới Phim</a>
                </li>
                <li>
                    <a href="#">Đăng Nhập</a>
                </li>
                <li>
                    <a href="#">Đăng Ký</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <h1 class="text-center title" >Tạo phim mới</h1>
    </div>

    <div>
        <form action="/api/CreateFilm" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img id "image" src="/images/image.png" alt="err">
                    </div>
                    <div>
                        <input type="file" value="Ảnh" id="">
                    </div>
                </div>
                <div class="col-md-6">
                    Tên bộ phim:
                    <br>
                    <input type="text" name="NameFilm">
                    <br> Thể loại phim:
                    <br>
                    <select name="StyleFilm" style="weight:100%">
                        <option value="Tiểu sử Lịch sủ">tiểu sử lịch sử </option>
                        <option value="Lãng Mạn Tình Cảm">Lãng mạn tình cảm </option>
                        <option value="Khoa Học Viễn Tưởng">Khoa học viễn tưởng </option>
                        <option value="Huyền Bí Huyền ảo">Huyền bí huyền ảo</option>
                        <option value="Phiêu Lưu Mạo Hiểm">Phiêu lưu mạo hiểm</option>
                        <option value="Pháp Luật Hình Sự">Pháp luật hình sự</option>
                        <option value="Chiến Tranh Cổ Trang">Chiến tranh cổ trang</option>
                        <option value="Chiến tranh trung đại">Chiến tranh trung đại</option>
                        <option value="Chiến tranh hiện đại">Chiến tranh hiện đại</option>
                        <option value="Kiếm hiệp, Cổ trang">Kiếm hiệp, Cổ trang</option>
                        <option value="Thuyết minh">Thuyết minh</option>
                        <option value="Hoạt hình">Hoạt hình</option>
                        <option value="Ma, kinh dị">Ma, kinh dị</option>
                        <option value="Kịch tính">Kịch tính</option>
                        <option value="Hành động">Hành động</option>
                        <option value="Sát Nhân">Sát Nhân</option>
                        <option value="Thể thao">Thể thao</option>
                        <option value="võ thuật">võ thuật</option>
                        <option value="Tâm lí">Tâm lí</option>
                        <option value="Tội ác">Tội ác</option>
                    </select>
                    <br> Thời gian phát hành :
                    <br>
                    <table>
                        <th>
                            <select name="Month">
                                <option value="tháng 1">Tháng 1</option>
                                <option value="tháng 2">Tháng 2</option>
                                <option value="tháng 3">Tháng 3</option>
                                 <!-- console.log("Ten Phim: " + req.body.NameFilm);
                                    console.log("The Loai phim: " + req.body.StyleFilm) 
                                    console.log("Nam phat hanh phim: " +req.body.month + req.body.year);
                                    console.log("Binh luan: " + req.body.Comment);ion> -->
                                <option value="tháng 4">Tháng 4</option>
                                <option value="tháng 5">Tháng 5</option>
                                <option value="tháng 6">Tháng 6</option>
                                <option value="tháng 7">Tháng 7</option>
                                <option value="tháng 8">Tháng 8</option>
                                <option value="tháng 9">Tháng 9</option>
                                <option value="tháng 10">Tháng 10</option>
                                <option value="tháng 11">Tháng 11</option>
                                <option value="tháng 12">Tháng 12</option>
                            </select>
                        </th>
                        <th>
                            <select name="Year">
                                <option value="Năm 2019">Năm 2019</option>
                                <option value="Năm 2018">Năm 2018</option>
                                <option value="Năm 2017">Năm 2017</option>
                                <option value="Năm 2016">Năm 2016</option>
                                <option value="Năm 2015">Năm 2015</option>
                                <option value="Năm 2014">Năm 2014</option>
                                <option value="Năm 2013">Năm 2013</option>
                                <option value="Năm 2012">Năm 2012</option>
                                <option value="Năm 2011">Năm 2011</option>
                                <option value="Năm 2010">Năm 2010</option>
                                <option value="Năm 2009">Năm 2009</option>
                                <option value="Năm 2008">Năm 2008</option>
                            </select>
                        </th>
                    </table>
                    <br> Nội dung mô tả:
                    <br>
                    <textarea name="Comment" id="text" cols="60" rows="8" placeholder="what do you want to do?"></textarea>
                </div>
            </div>
            <br>
            <br>
            <div class="text-center">
                <button type="submit" value="Đăng Phim" onclick="ABC()"> Đăng phim</button>
                <button type="submit"> Bạn cần đăng nhập</button>
            </div>

        </form>
      
    </div>
</body>

</html>